<% for i in (1..3) %>
<div class="row">
  <% for i in (1..4) %>
  <div class="col-sm-3" >
    <div class="product-card">
      <div class="badge">Hot</div>
      <div class="product-tumb">
        <img src="https://www.dtv-ebook.com/images/files_2/2020/ban-that-ba-dao!-jen-sincero.jpg" alt="">
      </div>
      <div class="product-details">
        <span class="product-catagory">Women,bag</span>
        <h4><a href="">Bạn thật bá đạo</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p>
        <div class="product-bottom-details row">
          <button type="button" class="btn btn-primary"
            style="width: 100% ; margin-bottom: 5px">Borrow</button>
          <button type="button" class="btn btn-info"
          style="width: 100%">Details</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
